<!DOCTYPE html>
{% autoescape true %}
<html>
<head>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="bootstrap/js/smoothScrolling.js"></script>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/reserve.css">
<title>Resource Share Home</title>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar"
	data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#myNavbar">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<font size="2"><a class="navbar-brand" href="#">Logged in
						as: {{ username }}</a></font>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#userReservations"><B>My Reservations</B></a></li>
					<li><a href="#userResources"><B>My Resources</B></a></li>
					<li><a href="#allResources"><B>All Resources</B></a></li>
					<li><a href="{{ url|safe }}"><B>{{ url_linktext }}</B></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="black text-center bigPadding">
		<font size="22">Resource Share</font><br>
		<h4>Reservations Managed.</h4>
	</div>

	<!-- Container (About userReservations) -->
	<div id=userReservations class="container-fluid bg-grey text-center">
		<div class="row">
			<div class="col-sm-15">
				<div class="accordion-group">
					<div class="accordion-heading">
						<h2>
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseUserReservations"> My Upcoming
								Reservations </a>
						</h2>
					</div>
					<div id="collapseUserReservations" class="accordion-body collapse in">
						<HR>
						<table
							class="table table-hover bg-white accordion-inner text-center">
							<thead>
								<tr>
									<th align="center">User</th>
									<th align="center">Resource Name</th>
									<th align="center">Reservation Time</th>
									<th align="center">Duration in minutes</th>
									<th align="center">Reservation Details</th>
								</tr>
							</thead>
							<tbody>
								{% for reservation in userReservations %}
								<tr>
								<td>{{ reservation.reservation_Owner }}</td>
									<td><a
										href="viewResource?keyVal={{ reservation.resource_PrimaryKey }}">{{
											reservation.resource_Name }}</a></td>
									<td>{{ reservation.reservation_StartTime }}</td>
									<td>{{ reservation.reservation_Duration }}</td>
									<td><a
										href="viewReservation?keyVal={{ reservation.primaryKey }}">Details</a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div id=userResources
		class="container-fluid black-body-table text-center">
		<div class="row">
			<div class="col-sm-20">
				<div class="accordion-group">
					<div class="accordion-heading">
						<h2>
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseUserResources"> My
								Resources </a>
						</h2>
					</div>
					<div id="collapseUserResources" class="accordion-body collapse in">
						<div class="accordion-inner">
							<BR>
							<table class="table accordion-inner text-center blackTable">
								<thead>
									<tr>
										<th align="center">Resource Name</th>
										<th align="center">Available From</th>
										<th align="center">Available Till</th>
										<th align="center">Last reserved at</th>
										<th align="center">Tags</th>
										<th align="center">Total Reservations</th>
									</tr>
								</thead>
								<tbody>
									{% for resource in userResources %}
									<tr>
										<td><a
											href="viewResource?keyVal={{ resource.primaryKey }}">{{
												resource.resource_Name }}</a></td>
										<td>{{ resource.resource_StartTime }}</td>
										<td>{{ resource.resource_EndTime }}</td> 
										{% if resource.justCreated==1 %}
										<td>Not Reserved Yet!</td> {% else %}
										<td>{{ resource.date }}</td> {% endif %}
										<td>{% for tag in resource.resource_tag %} <a
											href="tags?tag={{ tag }}">{{ tag }}</a> {% endfor %}
										</td>
										<td>{{ resource.totalReservations }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id=allResources class="container-fluid bg-grey text-center">
		<div class="row">
			<div class="col-sm-15">
				<div class="accordion-group">
					<div class="accordion-heading">
						<h2>
							<a class="accordion-toggle" data-toggle="collapse"
								data-parent="#accordion2" href="#collapseAllResources"> All
								Resources </a>
						</h2>
					</div>
					<div id="collapseAllResources" class="accordion-body collapse in">
						<HR>
						<table
							class="table table-hover bg-white accordion-inner text-center">
							<thead>
								<tr>
									<th align="center">Resource Name</th>
									<th align="center">Created By</th>
									<th align="center">Available From</th>
									<th align="center">Available Till</th>
									<th align="center">Last reserved at</th>
									<th align="center">Tags</th>
									<th align="center">Total Reservations</th>
								</tr>
							</thead>
							<tbody>
								{% for resource in resources %}
								<tr>
									<td><a
										href="viewResource?keyVal={{ resource.primaryKey }}">{{
											resource.resource_Name }}</a></td>
									<td>{{ resource.resource_Owner }}</td>
									<td>{{ resource.resource_StartTime }}</td>
									<td>{{ resource.resource_EndTime }}</td>
									{% if resource.justCreated==1 %}
										<td>Not Reserved Yet!</td> {% else %}
										<td>{{ resource.date }}</td> {% endif %}
										<td>{% for tag in resource.resource_tag %} <a
											href="tags?tag={{ tag }}">{{ tag }}</a> {% endfor %}
										</td>
										<td>{{ resource.totalReservations }}</td>
									</tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<HR>
		<div class="text-center">
			<input type="button" class="btn btn-large btn-primary"
				style="width: 25%; height: 20%; float: center; vertical-align: top;"
				value="Add a new Resource" onclick="location.href='/addResource'">
		</div>
	</div>

	<footer class=" footer text-center">
		<a href="#myPage" title="To Top"> <span
			class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>
			Web Application made by <a
				href="https://www.linkedin.com/in/abhineetkalra/" title="">Abhineet
				Kalra</a>
		</p>
	</footer>
</body>
</html>
{% endautoescape %}
